<h1>Welcome to the Project Manager Application</h1>

<p>This is a proof of concept for our CPSC 372 project.</p>
<p>We are using Ruby on Rails as our language/framework to build this application.</p>

<%= link_to "Projects", controller: "projects" %>